td.cv {
    vertical-align: top;
    padding: 10px;
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue
        /* padding-bottom: 20px; */
}

hr.seperator {
    padding: 0;
    margin-top: -1em;
    margin-bottom: 10px;
    width: 98%;
    left: 1%;
    height: 1px;
    display: block;
    /* background-color: rgb(44, 44, 44); */
}

body {
    font-family: 'Poiret One', cursive;
    padding-top: 0;
}

.toolkitLogo {
    height: 70px;
    margin: 5%;
}

.toolkitLogo:hover {
    animation: enlargeTKIcon 2s ease infinite;
}

@keyframes enlargeTKIcon {
    0% {
        height: 70px;
    }

    50% {
        height: 105px;
    }

    100% {
        height: 70px;
    }
}

#particlesjs {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 999999; */
}

.name {
    font-size: 64px;
    font-weight: 400;
    color: white;
}

.title {
    font-size: 20px;

}

.First {
    z-index: 10;
    width: 100%;
    height: 90%;
    /* padding: 10% 37%; */
    /* margin-bottom: 100px; */
    text-align: center;
    align-items: center;
}

td{
    width:fit-content;
}

.section {
    padding: 0 2%;
    /* background-color: lightblue; */

}

.project {
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
    display: inline-block;
    margin: 20px 40px;
}

.icon-bar {
    background-color: whitesmoke;
}

@keyframes example {
    0% {
        color: rgb(155, 26, 9);
    }

    25% {
        color: rgb(27, 160, 56);
    }

    50% {
        color: rgb(27, 160, 142);
    }

    75% {
        color: rgb(118, 27, 160);
    }

    100% {
        color: rgb(155, 26, 9);
    }
}

.red {
    color: rgb(155, 26, 9);
    padding-left: 0px;
    /* animation: example 25s infinite; */
}

.paragraph {
    margin-top: 20px;
}