td.cv {
    vertical-align: top;
    padding: 10px;
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue
    /* padding-bottom: 20px; */
}


table.knowledge_table{
    border-spacing: 10px;
    border-collapse: separate;
    width: fit-content;
    text-align: center;
}

img.cv{
    height: 25px;
}

hr.seperator {
    padding: 0;
    margin-top: -1em;
    margin-bottom: 10px;
    width: 98%; 
    left:1%;
    height: 1px;
    display: block;
    background-color: rgb(44, 44, 44);
}

body {
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif'; */
    font-family: 'Copperplate';
    /* width: max-content; */
}

.name {
    font-size: 64px;
}

.title {
    font-size: 25px;
}
@keyframes example {
    0% {color:  rgb(155, 26, 9);}
    25% {color: rgb(27, 160, 56); }
    50% {color: rgb(27, 160, 142); }
    75% {color: rgb(118, 27, 160); }
    100% {color: rgb(155, 26, 9); }
  }

.red {
    color: rgb(155, 26, 9);
    padding-left: 0px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 50s;
}

.leftPanel{
    width: 60%;
}

.rightPanel{
    height: 100%;
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    right: 0;
    top: 105px;
    border-left: 1px solid rgb(173, 173, 173);
    overflow: auto;
    padding: 10px; 
    padding-bottom: 100px;
}

.paragraph{
    margin-top: 20px;
}

.knowledge {
    /* position: static; */
    margin-right: 50px;
    /* border: black 1px solid; */
    /* padding: 0 5px; */
    width: fit-content;
    border-radius: 10px;
    /* text-align: center; */
}