.iframeBasics {
    border: none;
    width: 100%;
    padding: 0px;
    display: block;
    position: fixed; 
    z-index: 999;
    /* height: 100%; */
}



.sidenav {
    height: fit-content; /* Full-height: remove this if you want "auto" height */
    width: fit-content; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50%; /* Stay at the top */
    left: 0;
    border: black 1px solid;
    border-radius: 5px 30px 30px 5px;
    /* margin-top: 10%; */
    background-color: rgb(218, 216, 216);
    /* overflow-x: hidden; Disable horizontal scroll */
    overflow: hidden;
    padding: 10px; 
    list-style: none;
  }

  .sidenav-object{
      width: fit-content;
      margin-top: 15px;
  }

  .sidenav-object:hover{
        opacity: 20%;
        /* background-color: transparent; */
  }