@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    padding: 70px 0;
    font-family: 'Poiret One', cursive;
    font-weight: 400;

}


.main {
    /* margin: auto; */
    width: 100%;
    float: left;
    /* text-overflow: clip; */
}

p {
    padding-left: 10px;
}

.social-icon {
    height: 40px;
    border-radius: 25px;
    border: 0px solid whitesmoke;
    margin: 10px;
    background-color: transparent;
    color: white;
}

.social-icon:hover {
    animation: enlargeSocIcon 2s ease infinite;
}

.colors {
    background: linear-gradient(-45deg, #eeca52, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.loadbar {
    border-radius: 10px;
    width: 200px;
    border: 1px solid transparent;
    background-color: black;
    color: white;
    margin: 10px;
    float: left;
}

img[id='linkedinIcon']:hover {
    background-color: rgb(62, 62, 128);
}

img[id='emailIcon']:hover {
    background-color: rgb(226, 63, 63);
}

img[id='githubIcon']:hover {
    background-color: rgb(113, 78, 160);
}

img[id='phoneIcon']:hover {
    background-color: rgb(26, 182, 104);
}

img[id='whatsappIcon']:hover {
    background-color: rgb(26, 182, 60);
}

@keyframes enlargeSocIcon {
    0% {
        height: 40px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 40px;
    }
}

@keyframes enlarge {
    0% {
        height: 100px;
    }

    50% {
        height: 150px;
    }

    100% {
        height: 100px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes openNavbar {
    0%{
        height: 65px;
    }
    100% {
        height: 200px;
    }
}
@keyframes closeNavbar {
    0%{
        height: 200px;
    }
    100% {
        height: 65px;
    }
}

.loadbar.inner {
    margin: 0;
}

.loadbar.green {
    background-color: rgb(93, 192, 93);
}

.loadbar.lightgreen {
    background-color: rgb(124, 189, 124);
}

.loadbar.red {
    background-color: rgb(182, 3, 3);
}

.loadbar.orange {
    background-color: rgb(216, 158, 92);
}

.loadbar.gray {
    background-color: rgb(219, 219, 219);
}