@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
h2 {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  margin-left: 200px;
  border-left: 8px solid #7cdd99;
  width: 60%;
}

.work {
  margin: 40px 0;
  position: relative;
}

p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -230px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
  color: #2e704c;
  font-weight: 900;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -54px;
  width: 20px;
  height: 20px;
  background: #48b379;
  border: 8px solid #7cdd99;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  font-size: 20px;
  padding: 50px 30px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  display: inline-table;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #48b379;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.timelineTitle {
  font-size: 1.5em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  margin-left: 10px;
  /* top: 10px; */
  padding-right: 10px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative .timelineTitle {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #f98262;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #48b379;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  font-weight: 900;
  color: #3d8d61;
  transition: color 0.3s linear 0.3s;
  align-content: flex-start;
  max-height: fit-content;
  
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: 8px solid transparent;
  }
  #timeline .work {
    margin: 50px 0;
  }

  .timelineTitle {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #48b379;

  }
  .content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }
  .content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .content:after {
    border-right-color: #48b379;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle,
.date {
    display: auto;
  }
}

/*# sourceMappingURL=timeline.css.map */
