# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/MyProjects/Tetris/tetris.ASM
public/MyProjects/Tetris/TETRIS.EXE
public/MyProjects/Tetris/tetris.html
public/MyProjects/MetushelahFinder/MetushFinder.exe
public/MyProjects/MetushelahFinder/Metushelahs Examples/100/board size 100 - gen 7 - 328.5.gif
public/MyProjects/MetushelahFinder/Metushelahs Examples/150/board size 150 - gen 11 - 330.444444.gif
public/MyProjects/MetushelahFinder/Metushelahs Examples/200/gen 5- 210.4555.gif
public/MyProjects/MetushelahFinder/Metushelahs Examples/250/board size 250 - gen 7 - 115.32896.gif
