@import 'bootstrap-theme.css';
@import 'bootstrap-theme.css.map';
@import 'bootstrap.min.css';
@import 'bootstrap.min.css.map';
@import 'bootstrap.css';
@import 'bootstrap.css.map';
@import 'bootstrap.min.css';
@import 'bootstrap.min.css.map';
@import 'Site.css';

.iframeBasics {
    border: none;
    width: 100%;
    padding: 0px;
    display: block;
    /* position: relative; */
    /* height: 100%; */
}