.animated-background {
  background: var(--bg, #181a1b);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  z-index: -1;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 70%,
    rgba(0,0,0,0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(24, 26, 27, 1) 0%,
    transparent 100%
  );
}

.dark-mode .animated-background {
  background: #181a1b !important;
}

.dark-mode .animated-background::after {
  background: linear-gradient(
    to bottom,
    #181a1b 0%,
    rgba(24,26,27,0.98) 60%,
    rgba(24,26,27,0.85) 100%
  );
}

.dark-mode .contact-icons .contact-icon,
.dark-mode .contact-icons .icon-github,
.dark-mode .contact-icons .icon-linkedin,
.dark-mode .contact-icons .icon-email {
  color: #fff !important;
  fill: #fff !important;
  background: linear-gradient(90deg, #fff 0%, #b2fefa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.worm-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
